.App {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: rgb(245, 5, 145);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(216, 7, 7, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

button {
  background-color: rgb(238, 133, 194);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  margin-left: 10px;
}
